//基本颜色（主题色，辅助色，基本色，反色，语义色）
@primary: #e14c46;
@primary-dark: #c62828;
@primary-light: #e3817b;
@primary-lighter: #ffebee;

//绿色辅助色
@auxiliary: #00b39e;
@auxiliary-dark: #00897b;
@auxiliary-light: #80cbc4;
@auxiliary-lighter: #b2dfdb;

//黑色辅助色
@auxiliary-black: #5e6670;
@auxiliary-black-dark: #37474f;
@auxiliary-black-light: #b0bec5;
@auxiliary-black-lighter: #eceff1;

@success: #00b39e;
@success-dark: #dbf3f0;
@success-light: #309886;

@danger: #f44336;
@danger-dark: #d32f2f;
@danger-light: #ff5252;
@danger-lighter: #ffcdd2;
@danger-lightest: #ffebee;

@warning: #ff9800;
@warning-dark: #f57c00;
@warning-light: #ffb74d;
@warning-lighter: #ffe0b2;
@warning-lightest: #fff3e0;

@info: #1e88e5;
@info-dark: #1565c0;
@info-light: #42a5f5;
@info-lighter: #bbdefb;
@info-lightest: #e0f2fe;

@default-color: #e0e0e0;

@logo-color: #c62828;

//边框

@border-color: #e0e0e0;

//字体

@font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", STHeiTi, Tahoma, Arial, Roboto, "Droid Sans", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", Simsun, sans-self;


//字体颜色
@font-color: #424242;
@font-color-dark: #616161;
@font-color-hover: #757575;
@font-color-active: #9e9e9e;


//正常文本
@normal-size: 28px;

//大标题
@large-title: 68px;

//正常标题
@normal-title: 34px;

//注释字体
@annotation: 22px;

//圆角

//透明度

//间距

//组件

//Input

@inline-label-color: #9e9e9e;
@placeholder-color: #e0e0e0;
