#detail-group {
    width: 100%;
    height: 100%;
  
  }
  #detail-user {
    width: 100%;
    height: 100%;
  }
  .main {
    width:100%;
    //background-image: url('./images/detailtop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: auto;
   /*  padding-bottom: 1rem; */
  }
  .main main {
    width: 100%;
  }
  .lucky-result {
    width: 100%;
    padding: 1rem 0 0.2rem;
    margin-bottom: 0.5rem;
    position: relative;
  }
  .exchange {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0.3rem;
  }
  .title {
    font-size: 0.175rem;
    margin-bottom: 0.2rem;
    font-size: 0.32rem;
    color: #FFFFFF;
  }
  .type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*position: relative;*/
  }
  .bg-container {
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .detail {
   // background: url('./images/bg-detail.png') center center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.28rem;
    height: 1.6rem;
    background-size: 100%;
    margin-top: -1rem;
  }
  .detail span {
    display: flex;
    align-items: center;
    font-size: .28rem;
    margin-top: -0.2rem;
    justify-content: center;
  }
  .list-item .avatar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .lucky-show{
  
    margin-top: 0.3rem;
  }
  .show--body{
    background-color: #fbb;
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
    min-height: 3rem;
    margin: 0  0.1rem;
    padding: 0 0.2rem;
  }
  .show-body-group {
    margin-top: 0.8rem;
  }
  .show-cmt{
    font-size: 0.3rem;
    padding-top: 0.25rem;
    color:#333;
  }
  .show-list{
    height: 100%;
    color: #796e6e;
  }
  .list-item{
    margin: 0.2rem 0;
    font-size: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .list-item img{
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
    margin-right: .1rem;
    border-radius: 50%;
  }
  .list-item .amount{
    color:#ee772c;
    margin: 0 0.05rem;
  }
  .board{
    display: inline-block;
    /*margin-top: .6rem;*/
    font-size: .3rem;
    color: #FFC686;
  }
  .cmt--content {
    border-radius: 0.1rem;
    min-height: 1.5rem;
    background-color: #FFBABA;
    font-size: 0.3rem;
    color: #333333;
    line-height: 0.4rem;
  }
  .to-exchange {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;
  }
  /*.to-exchange .bg {
    width: 100%;
    height: 0.8rem;
    background-color: rgba(255, 0, 0, 0.5);
    transform: skew(-20deg);
    position: absolute;
  }*/
  .to-exchange a {
    display: flex;
    align-items: center;
    /* background: url('./images/bg-exchange.png') left center no-repeat; */
    background-size: 100%;
    width: 70%;
    height: 0.8rem;
  }
  /*.to-exchange a:before {
    transform: skew(-20deg);
  }*/
  /*.to-exchange a span {
    color: #fff;
    font-size: 0.32rem;
  }*/
  
  #detail-group .hide,#detail-user .hide{
    height: 0;
    visibility: hidden;
  }