html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;   /*页面缩放失效*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /*ios点击或出现灰色背景*/
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


a {
    background: transparent;
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}
